<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For You my Love</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <h1>For You my Love</h1>
        <details>
            <summary id="summary">Clickeame😍</summary>
            <p>Mi amor,

                No puedo evitar escribirte estas líneas para recordarte lo especial que eres para mí. Desde que entraste en mi vida, cada día tiene un brillo distinto, una razón más para sonreír y un motivo para seguir adelante.
                
                A veces me cuesta encontrar las palabras exactas para describir todo lo que siento, pero quiero que sepas que en mi corazón solo hay espacio para ti. Tus abrazos son mi refugio, tu sonrisa mi sol y tu voz la melodía que me acompaña incluso en los momentos más oscuros.
                
                Gracias por ser quien eres, por tu paciencia, tu ternura y ese amor infinito que me entregas cada día. Prometo cuidar de ti, respetarte y hacer todo lo posible por verte feliz, porque tu felicidad es la mía.
                
                Te amo con todo mi ser y cada día me siento más afortunado de tenerte a mi lado. Eres y siempre serás mi todo.
                
                Con todo mi amor,
                [Tu Amorcito]
                
                .</p>
          </details>
    </div>
    <div class="container">
        <h2>Esta web es solo para personas enamoradas. Si usted no esta enamorado, por favor, no utilice esta web.</h2>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>