<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For You my Love</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <h1>For You my Love 😻</h1>
        <details>
            <summary id="summary">Clickeame😍</summary>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </details>
    </div>
    <div class="container">
        <h2>Esta web es solo para personas enamoradas. Si usted no esta enamorado, por favor, no utilice esta web. 
        <hr>
        <i>By: <a href="https://github.com/kenyel231">https://github.com/kenyel231</a></i>
        </h2>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>